beautifulsoup4==4.13.4
cachetools==5.5.2
certifi==2025.4.26
charset-normalizer==3.4.2
feedparser==6.0.11
google-api-core==2.24.2
google-auth==2.40.1
google-cloud-speech==2.32.0
googleapis-common-protos==1.70.0
grpcio==1.72.0rc1
grpcio-status==1.72.0rc1
idna==3.10
iso8601==2.1.0
MarkupSafe==3.0.2
proto-plus==1.26.1
protobuf==6.31.0rc2
pyasn1==0.6.1
pyasn1_modules==0.4.2
pydu==0.7.2
pydub==0.25.1
reader==3.18
requests==2.32.3
rsa==4.9.1
sgmllib3k==1.0.0
soupsieve==2.7
SpeechRecognition==3.14.2
typing_extensions==4.13.2
urllib3==2.4.0
Werkzeug==3.1.3
